.coffees {
  margin: 0;
  padding: 0;
  list-style: none;
}
.coffee {
  display: inline-block;
  max-width: 400px;
  margin: 20px;
}
.coffee p {
  color: #666;
}
.coffee img {
  max-width: 100%;
}
.ingredient {
  display: inline-block;
  padding: 5px;
  margin-right: 3px;
  border-radius: 5px;
  background: #ccc;
}